.navbar .navbar-nav {
  margin-left: auto;
}
.navbar {
  font-family: 'Hammersmith One', sans-serif;
  background-color: white;
  font: 14px;
}
.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
  margin-left: 40px;
}
.head {
  margin: 0 0 10px;
  background-color: white;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.container_fluid {
  margin-top: 150px;
  background-color: white;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 10px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 25px;
}

section {
  margin: 150 0 150 0;
}

p.about {
  font-size: 25px;
  letter-spacing: 1.8px;
  margin-left: 40px;
}

p.aboutme1 {
  font-size: 15px;
  margin-right: 40px;
  margin-top: 30px;
}

p.aboutme2 {
  font-size: 15px;
  margin-left: 40px;
  margin-top: 0;
}

.resume {
  margin-left: 10px;
  margin-top: 40px;
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: 1.8px;
}

.resume:hover {
  color: red;
}

a:visited {
  color: black;
}

.container {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 180px;
}

.card {
  margin: 0 auto;
  margin-top: 150px;
  background-color: black;
  font-family: 'Gothic A1', sans-serif;
  font-size: 18px;
  letter-spacing: 1.8px;
  color: white;
}

.card-body {
  text-align: right;
  letter-spacing: 1.8px;
}

.card-text {
  font-family: 'Gothic A1', sans-serif;
  font-size: 18px;
  color: white;
}

.btn {
  border: solid gray 4px;
}

.row {
  align-content: center;
}

.skill {
  text-align: center;
  size: 50px;
}

img {
  height: 295px;
  width: 295px;
}

.social_icons {
  text-align: center;
  margin-bottom: 150px;
}

.fa {
  margin: 40px 5px 5px 5px;
  text-rendering: auto;
  cursor: pointer;
  color: red;
}

.fa-2x {
  font-size: 2em;
}

i {
  font-size: 100px;
}

footer {
  font-size: 3px;
  color: gray;
  margin-left: 40px;
  display: block;
}

.navbar-toggler .collapse {
  margin-right: 20px;
}
