/*head*/

.navbar .navbar-nav {
  margin-left: auto;
}
.navbar {
  font-family: 'Hammersmith One', sans-serif;
  background-color: white;
  font: 14px;
}
.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 30px;
  margin-left: 40px;
}
.head {
  margin: 0 0 10px;
  background-color: white;
}

a:hover {
  color: red;
}

h1,
h2 {
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

h5 {
  font-family: 'Gothic A2', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

/*about*/
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: 10px;
  font-family: 'Gothic A2', sans-serif;
  font-size: 25px;
}
.container_fluid {
  margin-top: 150px;
  background-color: white;
  margin-left: 40px;
}

p.about {
  font-size: 25px;
  letter-spacing: 1.8px;
  margin-left: 40px;
}

p.aboutme1 {
  font-size: 15px;
  margin-right: 40px;
  margin-top: 30px;
}

p.aboutme2 {
  font-size: 15px;
  margin-left: 40px;
  margin-top: 0;
}

.resume {
  margin-left: 10px;
  margin-top: 40px;
  font-family: 'Hammersmith One', sans-serif;
  letter-spacing: 1.8px;
}

.resume:hover {
  color: red;
}

a:visited {
  color: black;
}

/*Project*/

.project_square_images {
  width: 100%;
}
.project_square_images:hover,
p:hover {
  opacity: 0.6;
}

.project_square {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.project_square_background {
  background-color: black;
  /* this stuff centers the project text in the middle of the square */
  position: relative;
  overflow: hidden;
}

.project_container {
  /* padding must be 15 px minus padding on the project square */
  padding: 15px;
  margin: 0 auto;
}

.project_text {
  opacity: 0.5;
  text-align: center;
  vertical-align: middle;
  color: red;
  font-weight: 800;
  letter-spacing: 3px;
  /* this centers the project text in the middle of the square */
  position: absolute;
  margin-top: 50%;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20 0 20;
}

/*project_pages*/

.card {
  margin-left: 350px;
  margin-top: 100px;
  justify-content: center;
  text-align: right;
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.card-body {
  justify-content: left;
  width: 500px;
}

.card-title {
  text-align: right;
  letter-spacing: 0.4rem;
}
.card-text {
  font-size: 20px;
}

/*Skill*/
i {
  font-size: 50px;
}
.skillListContainer .skillTitle:first-child {
  margin-top: 100;
}

.skills-icon-description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.skillTitle {
  font-family: 'Hammersmith One', sans-serif;
  text-align: center;
  font-size: 25px;
}
.col-md-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: row;
}

.box-wrapper {
  text-align: center;
  font-family: 'Gothic A2', sans-serif;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  flex-flow: column;
}

.skill {
  text-align: center;
  size: 50px;
}

/*contact*/
.Contact_container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.social_icons {
  text-align: center;
  margin-bottom: 150px;
}

/* .container_fluid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 40px 40px 40px;} */

img {
  height: 295px;
  width: 295px;
}

.fa {
  margin: 40px 5px 5px 5px;
  text-rendering: auto;
  cursor: pointer;
  color: red;
}

.fa-2x {
  font-size: 2em;
}

/*footer*/
footer {
  font-size: 3px;
  color: gray;
  margin: 30px 0 50px 0;
  padding-bottom: 30;
  text-align: center;
}
